

  .card {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.card-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
  
  .card img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  

  